* {
  font-family: arial;
}

room div {
  padding-bottom: 5px;
  margin-left: 50px;
}

chat ul {
  height: 400px;
  width: 500px;
  overflow-x: hidden;
  list-style-type: none;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
}

chat ul li {
  border-bottom: solid;
  border-width: 1px;
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow-wrap: break-word;
}

chat {
  border-style: groove;
  margin-left: 50px;
  background-color: #cccccc;
}

uploadFile {
  border-style: groove;
  border-width: 2px;
  padding-bottom: 5px;
  padding-top: 5px;
}

received {
  background-color: #ffff66;
  border-style: groove;
  border-width: 2px;
  display: none;
  width: 180px;
  padding: 5px;
}

.users {
  vertical-align: top;
  height: 470px;
  width: 300px;
  border-style: groove;
  background-color: #80b3ff;
}

.users ul {
  list-style-type: none;
  padding-left: 15px;
}

.users ul li {
  border-bottom: solid;
  border-width: 1px;
  list-style-type: none;
  padding-bottom: 5px;
}

time {
  color: blue;
  font-style: italic;
}

chatName {
  color: red;
}

whisper {
  color: #006600;
  font-weight: bold;
}

files {
  padding: 8px;
  border-style: groove;
  margin-left: 50px;
  background-color: #ff6666;
}

videos {
  position: absolute;
  top: 0%;
  position: absolute;
  right: 0%;
}

videos ul {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
  vertical-align: super;
  position: absolute;
  right: 0px;
  position: absolute;
  top: 0%;
}

videos ul li {
  list-style-type: none;
  padding-bottom: 0px;
  padding-top: 0px;
}


videopagevideos ul {
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
  vertical-align: super;
  position: absolute;
  position: absolute;
  
}
videopagevideos ul li {
  list-style-type: none;
  padding-bottom: 0px;
  padding-top: 0px;
}


canvas {
  position: absolute;
  left: 0%;
  bottom: 0%;
}
