* {
  font-family: arial;
}

chat ul {
  height:400px;
  width:500px;
  overflow-x: hidden;
  list-style-type: none;
  font-family: arial;
  font-size: 14px;
  padding: 10px;
}

chat ul li {
  border-bottom: solid;
  border-width: 1px;
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow-wrap: break-word;
}

chat {
  border-style: groove;
  margin-left: 50px;
  background-color: #cccccc;
}

.users {
  vertical-align: top;
  height:470px;
  width:300px;
  border-style: groove;
  background-color: #80b3ff;
}

.users ul {
  list-style-type: none;
  padding-left: 15px;
}

.users ul li {
  border-bottom: solid;
  border-width: 1px;
  list-style-type: none;
  padding-bottom: 5px;
}

time {
  color: blue;
  font-style: italic;
}

chatName {
  color: red;
}

whisper {
  color: #006600;
  font-weight: bold;
}
